@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap');

@font-face {
    font-family: 'blueprint';
    src: url(../fonts/blueprint.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-nav: 'Poppins', sans-serif;
    --ff-heading: 'Montserrat', sans-serif;
    --ff-blueprint: 'blueprint';

    --fs-hero: 7vw;

    --clr-primary-900: #be7c3f;
    --clr-primary-500: #b08969;
    --clr-accent-100: #fff8f1;
    --clr-accent-300: #dfe0df;

    --link-deco: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.3125rem;
    line-height: 2.2rem;
    font-weight: 300;
}

body {
    font-family: var(--ff-primary);
    margin: 0;
    padding: 0;
    background-color: var(--clr-accent-300);
}

::selection {
    background-color: var(--clr-primary-900);
    color: var(--clr-accent-300);
}

section {
    padding: 10rem 0;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 6em;
}

strong {
    color: var(--clr-primary-900);
    font-weight: 600;
}

section h1 {
    color: var(--clr-primary-900);
    font-size: 2.3rem;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

/* ************************************************************************** */

.main-header {
    z-index: 1;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 22.6% 22.6% 22.6% 22.6% auto;
    height: 100vh;
    min-height: 700px;
    opacity: 0.99;
    background-image: url('../img/header_2.jpg');
    background-position: center 35%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 110px 90px rgba(0, 0, 0, 0.8) inset;
}

.scroll-button-wrap {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: 6;
    z-index: 5;
}

.scroll-btn {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color: var(--clr-accent-100);
    background: #d6249f;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 56%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 98%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: scroll-paint-roll 1.6s infinite alternate;
    animation-timing-function: cubic-bezier(.63, -0.04, .36, .98);
}

.scroll-button-text {
    position: absolute;
    overflow: hidden;
    font-size: 17px;
    color: var(--clr-accent-300);
    left: 50%;
    background-color: var(--clr-primary-900);
    transform: translate(-57%, -10px);
    width: 8.8ch;
    animation: textpaint 1.6s infinite alternate;
    animation-timing-function: cubic-bezier(.63, -0.04, .36, .98);
    z-index: 5;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    width: min(90%, 70rem);
    margin-left: 15%;
    z-index: 5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    gap: 2em;
    animation: hero-slidein 1.5s ease;
}

.hero-text h1 {
    font-family: var(--ff-nav);
    font-size: var(--fs-hero);
    line-height: 1.1em;
    font-weight: 900;
    height: fit-content;
}
.hero-text h2 {
    font-weight: 500;
}
.hero-text a {
    margin-top: 2rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 3px solid var(--clr-primary-900);
    border-radius: 3px;
    max-width: fit-content;
    text-decoration: var(--link-deco);
    color: var(--clr-primary-900);
    transition: .2s;
}


/* LAZY LOADING ANIMATIONS */

.reveal {
    transform: translateY(200px);
    opacity: 0;
    transition: .8s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}

.reveal2 {
    transform: translateX(-4em);
    opacity: 0;
    transition: 1.1s all ease;
}

.reveal2.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}

.reveal3 {
    transform: translateY(10em);
    opacity: 0;
    transition: 1.1s all ease;
}

.reveal3.active {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}

/* ********************* */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: .5s;
}

.nav-container.sticky {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

#logo-image {
    width: 100%;
    max-width: 150px;
    margin: 10px 0;
}

nav {
    transition: .5s;
    transition-timing-function: cubic-bezier(.69, .13, .14, .84);
}

nav ul {
    position: relative;
    display: flex;
    font-family: var(--ff-primary);
    font-size: 1.3rem;
    font-weight: 300;
    gap: 3em;
    margin: auto 0;
}

nav ul li {
    position: relative;
    list-style: none;
}

.nav-links {
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.nav-links::before {
    content: '';
    position: absolute;
    border-bottom: 3px solid var(--clr-primary-900);
    overflow: hidden;
    width: 0;
    height: 30px;
    transition: .3s ease;
}

.nav-links:hover::before {
    width: 100%;
}

.nav-links:active::before {
    transform: scaleX(1.5);
    border-bottom: 2px solid var(--clr-primary-900);
}

/* Mobile navigation & burger menu************************************************ */

.nav-toggle {
    display: none;
    position: absolute;
    top: .9rem;
    right: 1.5rem;
    color: #0006;
}

.menu-open {
    height: 100vh;
    touch-action: none;
    -ms-touch-action: none;
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.7);
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}


/* ********** ANIMACIJE ********* */
@keyframes scroll-paint-roll {
    0% {
        transform: translateY(30px);
    }
    
    100% {
        transform: translateY(-11px);
    }
}

@keyframes textpaint {
    from {
        height: 39px;
    }

    to {
        height: 0;
    }
}

@keyframes hero-slidein {
    0% {
        transform: translate(-1300px, 0);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* **************** END ANIMATIONS ***************** */

.nl-map {
    min-width: 450px;
    align-self: center;
}

.pinpoint-location {
    position: relative;
    color: #45a049;
    cursor: pointer;
    width: fit-content;
    top: 340px;
    left: 290px;
    text-shadow: 0px 2px 3px #000;
    transition: 0.3s ease;
}

.pinpoint-location .tooltip {
    visibility: hidden;
    position: relative;
    cursor: default;
    display: inline-block;
    background-color: var(--clr-primary-900);
    color: #fff;
    text-align: center;
    line-height: 2.2rem;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 1em;
    padding: 10px 5px;
}

.pinpoint-location:hover {
    color: green;
    transform: translateY(5px);
}

.pinpoint-location:hover .tooltip {
    visibility: visible;
}

.fixed-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url("../img/photo01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 25px 210px 80px;
    grid-template-areas: "image" "svg" "text" "other";
    border-radius: 18px;
    max-width: fit-content;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.card-image {
    grid-area: image;
    background: url(../img/bouw/photo_02.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-svg {
    grid-area: svg;
    transform: translateZ(20px);
}

.card-svg img {
    position: relative;
    width: 60px;
    top: -20px;
    left: 25%;
}

.card-text {
    grid-area: text;
    font-size: 1rem;
    padding: 10px;
    transform: translateZ(20px);
}

.card-text p {
    line-height: 1.325rem;
    font-size: 1.2rem;
}

.card-other {
    grid-area: other;
    background-color: var(--clr-primary-900);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.space-around {
    justify-content: space-between;
}

.btn-checkall {
    font-family: var(--ff-nav);
    background-color: var(--clr-primary-900);
    padding: 0.9em 1.1em 0.9em 1.1em;
    border-radius: 50px;
    text-decoration: var(--link-deco);
    color: #fff;
    transition: 0.1s;
}

.btn-checkall:hover {
    background-color: rgba(190, 124, 63, 0.9);
}

.btn-checkall-wrapper {
    margin: 1em 2em 1em 0;
}

.fa-chevron-right {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px 11px 8px 11px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Projects grid */
.container__projects {
    margin-inline: auto;
    margin-bottom: auto;
    width: min(90%, 85.5rem);
}

.projects-gallery {
    display: grid;
    column-gap: 2em;
    row-gap: 5em;
    margin-top: 5em;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects-gallery img {
    width: 100%;
    max-width: 500px;
    padding: 1px;
    border-radius: 10px;
    background: rgb(190, 124, 63);
    background: linear-gradient(180deg, rgba(190, 124, 63, 1) 23%, rgba(255, 255, 255, 0.0) 100%);
    transition: 0.1s ease;
}

/* FOOTER  */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #282828;
    /* background-color: #324A5E; */
    width: 100%;
    column-gap: 5em;
}

/* Form container */
.contact-container {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin-top: 2em;
    align-self: center;
}

.contact-container h1 {
    margin-bottom: 2em;
}

.contact-container p {
    margin-bottom: 5em;
    font-size: 1.1rem;
}

.information {
    font-size: 1.25rem;
    line-height: 3em;
    color: var(--clr-accent-300);
    font-weight: 300;
    margin-top: 2em;
    padding: 0 1em;
}

.information li::marker {
    content: '\f6e3 \0020 \0020';
    font: var(--fa-font-solid);
    color: var(--clr-primary-900);
}
.carpenter-img {
    text-align: center;
}
.carpenter-img img {
    width: 300px;
}

.ftr-social {
    flex-basis: 100%;
    padding: 0 1.875rem 0;
}

.ftr-social-list {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
    padding-left: 0;
}

.ftr-social-list li {
    margin: 0.5rem;
}

.ftr-social-list a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.fb:hover {
    color: #3b5998;
}

.ig:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wa:hover {
    color: #25D366;
}

.ftr-legal {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-primary-900);
    font-size: 1.25rem;
    width: 100%;
    height: 80px;
    align-self: flex-end;
    gap: .5em;
}

.copyright {
    align-self: center;
    position: relative;
    left: 25%;
}

.author {
    width: 150px;
    margin-right: 3em;
    align-self: flex-end;
    text-align: center;
}

.typewrite {
    text-decoration: none;
    color: var(--clr-accent-300);
}

/* MEDIA QUERIES */

@media (max-width: 74rem) {
    .pinpoint-location .tooltip {
        margin-left: -190px;
    }

    .split {
        gap: 2em;
    }

    .contentBx {
        padding: 15px 25px;
    }

    .hero-text {
        grid-column-end: 5;
        margin-inline: auto;
        width: min(90%, 70.5rem);
    }
}

@media (max-width: 56.25rem) {
    section {
        padding: 5rem 0;
    }

    .hero-text h1 {
        font-size: 6rem;
    }

    .fixed-img {
        background-attachment: scroll;
    }
    
    .split {
        flex-direction: column;
        gap: 0;
    }
    
    .projects-gallery {
        display: grid;
        column-gap: 2em;
        row-gap: 5em;
        margin-top: 5em;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 0 8%;
    }
}


@media (max-width: 46.875rem) {   
    .main-header {
        background-position: 75%;
    }
    
    .hero-text a {
        margin-inline: auto;
    }
    .nav-container {
        display: block;
    }

    nav {
        height: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
    }

    nav ul {
        display: block;
        font-family: var(--ff-primary);
        margin: 5px auto 25px auto;
        padding: 0;
        gap: 1.5rem;
    }

    nav ul li {
        padding: 1.8rem 0;
        text-align: center;
    }

    .links {
        color: #fff;
        font-size: 1.5rem;
    }

    #logo-image {
        margin-left: 1em;
    }

    /* content remove from nav pseudo classes */
    nav ul li a::before {
        content: '';
    }

    nav ul li a:hover::before {
        content: '';
    }

    /* ********************* */

    .nav-toggle {
        display: block;
        margin-top: 0.5rem
    }

    .nav-links {
        color: #fff !important;
    }

    .scroll-button-text {
        color: #fff;
    }

    .nl-map {
        margin-top: -3em;
        min-width: 320px;
    }

    .pinpoint-location {
        font-size: 16px;
        top: 254px;
        left: 207px;
    }

    .ftr-social {
        padding: 0;
    }

    .copyright {
        left: 0;
    }
}

@media (max-width: 28.75rem) {
    .hero-text h1 {
        text-align: center;
        font-size: 4rem;
    }

    .ftr-legal {
        flex-wrap: wrap;
        height: fit-content;
    }

    .copyright {
        border-bottom: 1px solid #282828;
    }

    .author {
        align-self: center;
        padding-bottom: 1em;
        margin: 0;
    }
}